@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Fira+Sans:wght@100;200;300;400;500;600&family=Luckiest+Guy&family=Poppins:wght@100;200&family=Roboto:wght@300&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    background-color: #35495e;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.wrapper{
    background-color: #42b883;
    border-radius: 16px;;
    padding: 15px;
    margin-top: 50px;
    max-width: 500px;;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    



}

.search-box{
    display: flex;
    
    margin: 0 auto;
    gap: 25px;
}

.search-box input {
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
    outline: none;
    transition: 0.3s;

}

.wrapper input:hover,
.wrapper input:focus{
    background-color: #e6e6e6cb;
}

.submit {
    background-color: #93e4c1;
    padding:8px 18px;
    border: none;
    border-radius: 50px;
    font-family: 'Fira Sans', sans-serif;
    transition: 0.3s;
    cursor: pointer;
    flex-shrink: 1;
}

.submit:hover {
    background-color: #93e4c1b7;
}



.js-display-dictionary {
    
    padding: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: 'Roboto', sans-serif;
    transform: scaleY(0);
    animation: display .5s ease-in ;
   
}

.js-display-dictionary > * {
   
    margin-top: 15px;
    color: #fff;
    
}

@keyframes display {
    0%{
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

.js-play {
    padding: 10px 25px;
    background: #347474;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    border-radius: 16px;
    transition: 0.3s;
    cursor: pointer;
    display: none;
}
.js-play:hover {
    background: #34747467;
}


.js-text {
    text-transform: uppercase;
}

.js-definition {
    color: #2c5d63;
    font-weight: bold;
}

.js-example{

}

.js-phonetics {
    font-size: 18px;
}



.button-container {
    display: flex;
    justify-content: end;
    
}